//
// Features
// --------------------------------------------------
.feature {
  display: flex;
  align-items: center;
  max-width: 210px;

  .feature-img-wrap {
    flex: 0 0  52px;
    margin-right: 12px;
    >* { width: 100%;}
  }
  .feature-text {
    line-height: 1.3;
    font-size: 15px;
    color: $gray;
    font-weight: 600;
  }
}