//
// Typography
// --------------------------------------------------

body {
  font-family: $main-family;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: bold;
  color: $gray;
  transition: .20s;
}

h1, .h1 {
  font-size: 46px;

  @media (max-width: $tablet-land) {
    font-weight: 600;
    font-size: 24px;
  }
}
h2, .h2 {
  font-size: 40px;

  @media (max-width: $tablet-land) {
    font-weight: 600;
    font-size: 18px;
  }
}
h3, .h3 {
  font-size: 32px;
}
h4, .h4 {
  font-size: 24px;
}
h5, .h5 {
  font-size: 16px;
}
