// Site Header
header.site-header
  .container.navbar.d-flex.align-items-center.justify-content-end.flex-nowrap

    a(href="index.html").logo-main.ml-0
      img(src="img/logo-main.svg")

    .info-alert.ml-5.pl-5.mr-auto.text-white.border-left.border-white
      i.ds-lock1
      | Ввод данных конфидициален

    .navbar-tools
      a(href="tel:+38 (063) 453-94-19")
        i.ds-phone-24px.mr-2
        span +38 (063) 453-94-19
