//Navigation

ul#main-menu.accordion
  li
    a(href="#" data-toggle="collapse" data-target="#menu-01" aria-controls="menu-01").nav-toggle.collapsed
      i.ds-holiday-ico.menu-item-icon
      | Праздничный декор
      i.ds-keyboard_arrow_right-24px.arrow

    ul.sub-menu.collapse#menu-01(data-parent="#main-menu")
      li.sub-menu-title Праздничный декор
      li
        a(href="#")
          | Смотреть все
      li
        a(href="#")
          | Бобины, катушки, жемчуг
      li
        a(href="#")
          | Свечи декоративные
      li
        a(href="#")
          | Декоративная мешковина
      li
        a(href="#")
          | Декоративные часы
      li
        a(href="#")
          | Фонари декоративные
      li
        a(href="#")
          | Фоторамки
      li
        a(href="#")
          | Декоративные колонны
      li
        a(href="#")
          | Изделия из металла
      li
        a(href="#")
          | Стеклянные, акриловые подвески

  li
    a(href="#" data-toggle="collapse" data-target="#menu-02" aria-controls="menu-02").nav-toggle.collapsed
      i.ds-hearts.menu-item-icon
      | Cвадебный декор
      i.ds-keyboard_arrow_right-24px.arrow

    ul.sub-menu.collapse#menu-02(data-parent="#main-menu" aria-labelledby="headingOne")
      li.sub-menu-title Cвадебный декор
      li
        a(href="#")
          | Смотреть все
      li
        a(href="#")
          | Бобины, катушки, жемчуг
      li
        a(href="#")
          | Свечи декоративные
      li
        a(href="#")
          | Декоративная мешковина
      li
        a(href="#")
          | Декоративные часы
      li
        a(href="#")
          | Фонари декоративные
      li
        a(href="#")
          | Фоторамки
      li
        a(href="#")
          | Декоративные колонны
      li
        a(href="#")
          | Изделия из металла
      li
        a(href="#")
          | Стеклянные, акриловые подвески

  li
    a(href="#" data-toggle="collapse" data-target="#menu-03" aria-controls="menu-03").nav-toggle.collapsed
      i.ds-home-ico.menu-item-icon
      | Декор для дома
      i.ds-keyboard_arrow_right-24px.arrow

    ul.sub-menu.collapse#menu-03(data-parent="#main-menu" aria-labelledby="headingOne")
      li.sub-menu-title Декор для дома
      li
        a(href="#")
          | Смотреть все
      li
        a(href="#")
          | Бобины, катушки, жемчуг
      li
        a(href="#")
          | Свечи декоративные
      li
        a(href="#")
          | Декоративная мешковина
      li
        a(href="#")
          | Декоративные часы
      li
        a(href="#")
          | Фонари декоративные
      li
        a(href="#")
          | Фоторамки
      li
        a(href="#")
          | Декоративные колонны
      li
        a(href="#")
          | Изделия из металла
      li
        a(href="#")
          | Стеклянные, акриловые подвески

  li
    a(href="#" data-toggle="collapse" data-target="#menu-04" aria-controls="menu-04").nav-toggle.collapsed
      i.ds-flowers-ico.menu-item-icon
      | Искуственные цветы
      i.ds-keyboard_arrow_right-24px.arrow

    ul.sub-menu.collapse#menu-04(data-parent="#main-menu" aria-labelledby="headingOne")
      li.sub-menu-title Искуственные цветы
      li
        a(href="#")
          | Смотреть все
      li
        a(href="#")
          | Бобины, катушки, жемчуг
      li
        a(href="#")
          | Свечи декоративные
      li
        a(href="#")
          | Декоративная мешковина
      li
        a(href="#")
          | Декоративные часы
      li
        a(href="#")
          | Фонари декоративные
      li
        a(href="#")
          | Фоторамки
      li
        a(href="#")
          | Декоративные колонны
      li
        a(href="#")
          | Изделия из металла
      li
        a(href="#")
          | Стеклянные, акриловые подвески

  li
    a(href="#" data-toggle="collapse" data-target="#menu-05" aria-controls="menu-05").nav-toggle.collapsed
      i.ds-arrow_forward-24px.menu-item-icon
      | Готовые страницы
      i.ds-keyboard_arrow_right-24px.arrow

    ul.sub-menu.collapse#menu-05(data-parent="#main-menu" aria-labelledby="headingOne")
      li
        a(href="index.html")
          | Home Page
      li
        a(href="catalog.html")
          | Catalog
      li
        a(href="single-item.html")
          | Single Product
      li
        a(href="account-data.html")
          | Account Data
      li
        a(href="account-address.html")
          | Account Address
      li
        a(href="account-wishlist.html")
          | Account Wishlist
      li
        a(href="account-orders.html")
          | Account Orders
      li
        a(href="checkout.html")
          | Checkout
      li
        a(href="delivery.html")
          | Delivery
      li
        a(href="contacts.html")
          | Contacts
      li
        a(href="discount.html")
          | Discount
