section.subscribe-section
  .container
    .subscribe-section-inner
      .descr Подписывайтесь на email рассылку со скидками
      .input
        input(type="email" placeholder="Email").input-lg
      button.btn.btn-solid.btn-info.btn-lg Подписаться