.topbar
  .container.d-flex.justify-content-between.align-items-center
     .topbar-meta
       a(href="tel:+380634539419").phone.mr-4
         i.ds-phone-24px.pr-2
         | +38 (063) 453-94-19

       a(href="delivery.html").ml-4 Оплата и доставка
       a(href="contacts.html").ml-4 Контакты
       a(href="discount.html").ml-4 Cкидки

     .topbar-tools.d-flex
       .lang-switcher.mr-4
         span RU
         a(href="#") UA

       .login-tool
         a(href="#" type='button', data-toggle='modal', data-target='#loginModal')
          i.ds-profile-ico.pr-2
          | Войти в личный кабинет