//
// Single Product
// --------------------------------------------------
.single-product-content {
  padding: 36px 36px 80px;

  @media (max-width: $tablet-port) {
    flex-direction: column;
    padding: 0;
  }
}

.single-product-carousel-wrap {
  max-width: 50%;
  border-right: 1px solid #E5EAFA;

  @media (max-width: 1200px) {
    max-width: none;
    overflow: hidden;
  }

  @media (max-width: 1200px) {
    border-right: 0;
  }
}

.single-product-description {
  padding-left: 84px;

  @media (max-width: 1200px) {
    padding-left: 24px;
  }

  @media (max-width: $tablet-port) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-right: 15px;
    padding-left: 15px;
  }
}


.single-product-carousel {
  display: flex;
  .slider-preview {
    min-width: 0;
    flex: 0 0 440px;
  }
  .slider-nav {
    min-width: 0;
    flex: 0 0 80px;
    margin-left: 20px;
    padding: 0;
    .slide {
      margin-bottom: 13px;
      max-width: 80px;
      cursor: pointer;
      border: 2px solid transparent;
      transition: .25s;

      &.active {
        border-color: $accent;
      }
    }
    .video-btn {
      cursor: pointer;
    }
  }

  @media (max-width: 1200px) {
    flex-direction: column;
    .slider-preview {
      flex: 0 0 auto;
    }
    .slider-nav {
      display: flex;
      flex: 0 0 auto;
      justify-content: center;
      margin-left: 0;
      margin-top: 14px;

      .slide {
        margin-left: 5px;
        margin-right: 5px;
      }
      .video-btn { display: none;}
    }
  }
}

.single-product-info {
  max-width: 420px;
  margin-top: 38px;
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;

    span:first-child {
      display: flex;
      align-items: baseline;
      flex-grow: 1;
      color: $gray-lighter;
      &::after {
        content: '';
        display: block;
        width: 100%;
        border-bottom: 1px dashed #E5EAFA;
        margin: 0 8px;
      }
    }
  }
}

.single-product-delivery {
  ul.nav {
    li { margin-right: 24px;}
    a {
      position: relative;
      display: block;
      color: $gray-light;
      text-decoration: none;
      padding: 8px 0;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        height: 2px;
        background-color: $gray-darker;
        opacity: 0;
        transition: .25s;
      }
      &.active {
        color: $gray-dark;

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.price-card {
  position: relative;
  background-color: rgba(#E5EAFA, .6);
  border-radius: 2px;
  padding: 26px 26px 11px;
  width: 360px;
  margin-bottom: 39px;

  .old-price {
    font-size: 12px;
    color: $gray-light;
    text-decoration: line-through;
  }
  .current-price {
    font-size: 32px;
    font-weight: bold;
    color: $danger;

    span {
      font-weight: normal;
      font-size: 24px;
    }
  }
  .favorite {
    top: 12px;
    right: 12px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: none;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .25s;
    background-color: #fff;
    box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.3);

    i { color: $accent;}

    &:hover {
      box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.3);
    }
  }
}