.delivery {
	color: $gray;
	padding-bottom: 100px;
	.payment-list {
		font-size: 14px;
		flex-wrap: wrap;
		.payment-info {
			display: flex;
			justify-content: space-between;
			position: relative;
		}
		p {
			padding-left: 70px;
			margin-bottom: 0;
			max-width: 400px;
		}
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 55px;
			height: 55px;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: -10px;
			background-color: #fff;
			color: $accent;
			font-weight: 600;
			font-size: 22px;
		}
	}
	.delivery-companies-wrap {
		border: 1px solid #E5EAFA;
	}
	.delivery-companies {
		display: flex;
		justify-content: space-around;
		background-color: #fff;
		padding: 27px 0;
		img {
			max-width: 200px;
			display: block;
			height: auto;
			padding: 20px;
			padding-bottom: 0;
			padding-top: 0;
		}
	}
}

@media (max-width: 821px) {
	.delivery {
		.payment-list {
			p {
				max-width: 100%;
			}
		}
	}
}

@media (max-width: $tablet-port) {
	.delivery {
		.delivery-companies {
			display: block;
			img {
				margin: 0 auto;
				margin-bottom: 20px;
				max-height: 100%;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}